<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/checkbox.css">
<link rel="stylesheet" href="/css/style.css">
<link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
<script type="application/javascript" src="/js/jquery-2.1.4.js"></script>
<script type="application/javascript" src="/js/bootstrap.js"></script>
<meta charset="UTF-8">