@font-face {
    font-family: Ariana;
    src: url(../fonts/arianamuserif.ttf);
}

@font-face {
    font-family: Airborne;
    src: url(../fonts/airborne.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/ubuntu.ttf);
}

body {
    font-family: Ubuntu, serif;
    padding-bottom: 70px;
}


.inline {
    display: inline-block;
}

.width100 {
    width: auto;
}

.track{
    margin-bottom: 10px;
}

h1 {
    font-family: Airborne, serif;
    color: #444B6E;
}

.newfont {
    font-family: Airborne, serif;
}

.margin-30 {
    margin: 0 20px 20px 0;
}

.white {
    background-color: white;
}

.margin-10p {
	margin: 10%;
}

.background {
    margin-top: 70px;
    background: #cccccc url("../images/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.user-image {
	width: 25px;
	height: 25px;
}


.main-bg {
    margin-top: 50px;
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    height: 600px;
}

.navbar-brand {
    color: #f94c5e;
}

.desc h1{
    margin-bottom: 30px;
    text-transform: uppercase;
}

.icon {
    padding: -20px;
    height: 40px;
    width: 40px;
}

.desc {
    padding-top: 10%;
    vertical-align: center;
    height: 600px;
    color: #fff;
    text-align: center;
}

.btn-trans {
    margin-top: 30px;
    border: 1px solid #fff;
    color: #fff;
}

.btn-trans:hover {
    border: 1px solid #ffc;
    color: #ffc;
}

.top-artists h2{
    text-align: center;
    text-transform: uppercase;
    margin: 50px;

}

.menu {
    margin: 100px;
}

.menu ul {
    margin: 0 20px;
    padding: 0;
    list-style-type: none;
}

.menu ul li {
    height: 30px;
    display: inline;
}

.menu ul li a {

    display: inline;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 20px;
    color: #000;
}

.menu ul li a:hover {
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 20px;
    color: #000;
    border-bottom: 2px solid #f94c5e;
}

.selected{
    border-bottom: 2px solid #f94c5e;
}

.margin-100{
    margin-top: 100px;
}

/*artist*/
body {
    background: #F1F3FA;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 10px 30px;
    background: #fff;
    min-height: 460px;
}

