<!doctype html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <meta charset="UTF-8">
    <title>Страница не найдена</title>
</head>
<body>
<h1>404</h1>
<h1>Страница не найдена</h1>
</body>
</html>